    <!-- FOOTER -->

    <footer class="sectionArea">
        <div class="footerContainer">
    
            <div class="col3">
                <div class="footerItem">
                    <h3>WELCOME TO OUR SITE</h3>
                    <a href="#"><img src="/images/logo.jpeg" alt=""><labeL>SAİLA</labeL></a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur laborum facere temporibus numquam adipisci vitae sapiente pariatur nostrum unde modi.</p>                       
                </div>
            </div>

            <div class="col3">
                <div class="footerItem">
                    <h3>HELP</h3>
                    <ul class="helplinks">
                        <li><a href="#">Help Center</i></a></li>
                        <li><a href="#">Help Forum</i></a></li>
                        <li><a href="#">Video Tutorials</i></a></li>
                    </ul>                           
                </div>
            </div>
       
            <div class="col3">
                <div class="footerItem">
                    <h3>BE SOCIAL WITH US</h3>
                    <ul class="socialLinks">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>                           
                </div>
            </div>
    
        </div>
    </footer> 

<script src="/js/navbar.js"></script>
</body>
</html>