<%- include("partials/_header") %>

<!-- Hero SECTION -->
  <section id="abouthero">
      <div id="aboutmainCaption" class="caption">
        <h1 class="abouttitle">Taha Arslan 20202022008</h1>
        <h1 class="abouttitle">SAİLA</h1>
        <p> ○ Site amacı kullanaıcıların kayıt olup blog yazıp yadıkları bloğu silip güncelleyebilmeri ,diğer kullanıcıların yazdığı blogları okuma,yorum yapma,like-dislike atma, diğer kullanıcıları takip etme.  </p>
        <p> ○ kullanılan Frontend elementleri : html , css , javascript</p>
        <p> ○ kullanılan Backend elementleri : nodejs</p>
        <p> ○ kullanılan npm paketleri : ejs , mongoose , doteenv , bcrypt , jsonwebtoken , cookie-parser , validator.js , cloudinary , express-fileupload , method-override</p>
        <p> ○ kullanılan databeler : MongoDB , Cloudinary</p>
      </div>
</section>

<%- include("partials/_footer") %> 