<%- include("partials/_header") %>

    <!-- LOGIN SECTION -->

    <section id="loginSection" class="sectionArea sectionSetting">
      <div class="wrapper">
          <form action="users/login" method="POST">
              <h1>Login</h1>
              <div class="input-box">
                  <input id="username-input" type="text" placeholder="Username" name="username" >
                  <i class="bx bxs-user"></i>
              </div>

              <div class="input-box1">
                <div class="alert alert-danger" id="username" ></div>
              </div>

              <div class="input-box">
                  <input id="password-input" type="password" placeholder="Password" name="password">
                  <i class="bx bxs-lock-alt"></i>
              </div>

              <div class="input-box1">
                <div style="display: none;" class="alert alert-danger" id="password" ></div>
              </div>

              <div class="remember-forgot">
                  <label for=""><input type="checkbox">Remember me</label>
                  <a href="#">Forgot password?</a>
              </div>
              <button type="submit" class="btn">Login</button>
  
              <div class="register-link">
                  <p>Don't have an account? <a href="/register">Register</a></p>
              </div>
          </form>        
      </div>
  </section>  

  <script>
    const form = document.querySelector('form')
    const passwordError = document.querySelector('#password')
    const usernameError = document.querySelector('#username')

    form.addEventListener("submit", async (e) => {
       e.preventDefault();

       passwordError.textContent = "";
       usernameError.textContent = "";
       passwordError.style.display = "none";
       usernameError.style.display = "none";

       const password = form.password.value;
       var username = form.username.value;
       username = username.trim();
       username = username.replace(/\s+/g, ' ');

       try {
          const res = await fetch("users/login", {
             method: "POST",
             body: JSON.stringify({ username, password }),
             headers: { "Content-Type": "application/json" }
          });

          const data = await res.json();


          if (data) {

             if (data.password) {
                passwordError.textContent = data.password
                passwordError.style.display = "block"
             }

             if (data.username) {
                usernameError.textContent = data.username
                usernameError.style.display = "block"
             }

          } 

          if(data.user){
            location.assign("/users/dashboard");
          }
          
       } 
       
       catch (err) {
          console.log("ERR::", err)
       }
    });
    
 </script>
<%- include("partials/_footer") %>